n8n/action-router-workflow.json
{
  "name": "TriageSense Action Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triagesense-action",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1f72ef1-58dc-4ec1-9f93-176c4ca9be38",
      "name": "Webhook (Receive from TriageSense)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook (Receive from TriageSense)\"].json[\"body\"][\"urgency_label\"]}}",
              "value2": "CRITICAL"
            }
          ],
          "number": [
            {
              "value1": "={{$node[\"Webhook (Receive from TriageSense)\"].json[\"body\"][\"urgency_score\"]}}",
              "operation": "largerEqual",
              "value2": 90
            }
          ]
        }
      },
      "id": "e2f72bc2-1234-4567-8901-abcdef123456",
      "name": "IF Critical Ticket",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "channel": "support-alerts",
        "text": "=🚨 *CRITICAL TICKET DETECTED BY TRIAGESENSE*\n\n*Subject:* {{$node[\"Webhook (Receive from TriageSense)\"].json[\"body\"][\"subject\"]}}\n*Customer:* {{$node[\"Webhook (Receive from TriageSense)\"].json[\"body\"][\"customer_name\"]}} (Tier: {{$node[\"Webhook (Receive from TriageSense)\"].json[\"body\"][\"customer_tier\"]}})\n*AI Composite Score:* {{$node[\"Webhook (Receive from TriageSense)\"].json[\"body\"][\"composite_score\"]}}\n\n*Recommended Action:* {{$node[\"Webhook (Receive from TriageSense)\"].json[\"body\"][\"suggested_next_action\"]}}\n\n*View Dashboard:* http://localhost:5173",
        "otherOptions": {}
      },
      "id": "3b4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        720,
        200
      ]
    }
  ],
  "connections": {
    "Webhook (Receive from TriageSense)": {
      "main": [
        [
          {
            "node": "IF Critical Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Critical Ticket": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
